---
import "../styles/global.scss";
import Header from "../components/FPHeader.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/MFFavicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Member Feedback</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body>
    <Header />
    <div class="container">
      <slot />
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
